In [99]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [100]:
data = pd.read_csv("C:\\Users\\sonja tilly.ABERDEEN\\academy_awards.csv", encoding='ISO-8859-1')

In [101]:
data.head(1)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
data['Unnamed: 5'].value_counts()

*                                                                                                               7
 discoverer of stars                                                                                            1
 resilience                                                                                                     1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
Name: Unnamed: 5, dtype: int64

In [103]:
data['Additional Info'][:5]

0                        Biutiful {'Uxbal'}
1             True Grit {'Rooster Cogburn'}
2    The Social Network {'Mark Zuckerberg'}
3      The King's Speech {'King George VI'}
4                127 Hours {'Aron Ralston'}
Name: Additional Info, dtype: object

In [104]:
data['Year'] = data['Year'].str[:4]

In [105]:
data['Year'] = data['Year'].astype(int)
data['Year'][:5]

0    2010
1    2010
2    2010
3    2010
4    2010
Name: Year, dtype: int32

In [106]:
later_than_2000 = data[data['Year'] > 2000]

In [107]:
later_than_2000.head(2)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
award_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role', 'Actress -- Leading Role', 'Actress -- Supporting Role']

In [109]:
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [110]:
nominations.head(1)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
replacements = { "NO": 0, "YES": 1 }
nominations["Won?"] = nominations["Won?"].map(replacements)
nominations["Won"] = nominations["Won?"]
drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]
final_nominations = nominations.drop(drop_cols, axis=1)
final_nominations.head(2)

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0

In [112]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [113]:
additional_info_two = additional_info_one.str.split(" {'")

In [114]:
final_nominations['Movie'] = additional_info_two.str[0]
final_nominations['Characters'] = additional_info_two.str[1]
final_nominations.drop('Additional Info', axis=1)
final_nominations.head(2)

,Year,Category,Nominee,Additional Info,Won,Movie,Characters
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn

In [115]:
import sqlite3
conn = sqlite3.connect("nominations.db")
final_nominations.to_sql("nominations", conn, index=False)

C:\Users\sonja tilly.ABERDEEN\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\pandas\core\generic.py:1201: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

ValueError: Table 'nominations' already exists.

In [116]:
conn.execute('pragma table_info(nominations)').fetchmany(10)

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Additional Info', 'TEXT', 0, None, 0),
 (4, 'Won', 'INTEGER', 0, None, 0),
 (5, 'movie_names', 'TEXT', 0, None, 0),
 (6, 'Movie', 'TEXT', 0, None, 0),
 (7, 'Characters', 'TEXT', 0, None, 0)]

In [117]:
conn.close()