In [5]:
f = open('C:\\Users\\sonja tilly.ABERDEEN\\data-master\\data-master\\births\\US_births_1994-2003_CDC_NCHS.csv', 'r')
file = f.read()
data = file.split('\n')
data[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [12]:
def read_csv(data):
    f = open(data, 'r').read()
    file = f.split('\n')
    string_list = file[1:]
    final_list = []
    
    for l in string_list:
        temp = l.split(',')
        int_fields = []
        
        for t in temp:
            int_fields.append(int(t))
        final_list.append(int_fields)
        
    return final_list

In [14]:
cdc_list = read_csv('C:\\Users\\sonja tilly.ABERDEEN\\data-master\\data-master\\births\\US_births_1994-2003_CDC_NCHS.csv')
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [28]:
def month_births(data):
    births_per_month = {}
    
    for row in data:
        month = row[1]
        births = row[4]
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + births
        else:
            births_per_month[month] = births
    return births_per_month
    
cdc_month_births = month_births(cdc_list)

In [25]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [30]:
def dow_births(data):
    births_per_day = {}
    
    for row in data:
        day = row[3]
        births = row[4]
        if day in births_per_day:
            births_per_day[day] = births_per_day[day] + births
        else:
            births_per_day[day] = births
    return births_per_day
    
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [38]:
def calc_counts(data, column):
    total_births = {}
    
    for row in data:
        value = row[column]
        births = row[4]
        if value in total_births:
            total_births[value] = total_births[value] + births
        else:
            total_births[value] = births
    
    return total_births

In [44]:
cdc_year_births = calc_counts(cdc_list,0)
print(cdc_year_births)
cdc_month_births = calc_counts(cdc_list,1)
print(cdc_month_births)
cdc_dom_births = calc_counts(cdc_list,2)
print(cdc_dom_births)
cdc_dow_births = calc_counts(cdc_list,3)
print(cdc_dow_births)

{2000: 4058814, 2001: 4025933, 2002: 4021726, 2003: 4089950, 1994: 3952767, 1995: 3899589, 1996: 3891494, 1997: 3880894, 1998: 3941553, 1999: 3959417}
{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}
{1: 1276557, 2: 1288739, 3: 1304499, 4: 1288154, 5: 1299953, 6: 1304474, 7: 1310459, 8: 1312297, 9: 1303292, 10: 1320764, 11: 1314361, 12: 1318437, 13: 1277684, 14: 1320153, 15: 1319171, 16: 1315192, 17: 1324953, 18: 1326855, 19: 1318727, 20: 1324821, 21: 1322897, 22: 1317381, 23: 1293290, 24: 1288083, 25: 1272116, 26: 1284796, 27: 1294395, 28: 1307685, 29: 1223161, 30: 1202095, 31: 746696}
{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

In [107]:
def minmax(d):
    mini = min(zip(d.values(), d.keys())) 
    maxi = max(zip(d.values(), d.keys()))
    return mini, maxi

In [108]:
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

In [109]:
minmax(prices)

((10.75, 'FB'), (612.78, 'AAPL'))