In [8]:
import pandas as pd
import sqlite3
import math

In [4]:
conn = sqlite3.connect('factbook.db')

c = conn.cursor()
c.execute('SELECT * FROM facts limit 5;')

print(c.fetchall())

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51, '2015-11-01 13:19:49.461734', '2015-11-01 13:19:49.461734'), (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3, '2015-11-01 13:19:54.431082', '2015-11-01 13:19:54.431082'), (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, '2015-11-01 13:19:59.961286', '2015-11-01 13:19:59.961286'), (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0, '2015-11-01 13:20:03.659945', '2015-11-01 13:20:03.659945'), (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46, '2015-11-01 13:20:08.625072', '2015-11-01 13:20:08.625072')]

In [44]:
area_land = c.execute('SELECT SUM(area_land) from facts WHERE area_land != "";').fetchall()
area_water = c.execute('SELECT SUM(area_water) from facts WHERE area_water != "";').fetchall()
land = pd.DataFrame(area_land)
water = pd.DataFrame(area_water)
print(land/water)

           0
0  27.751573

In [6]:
facts = pd.read_sql_query("select * from facts", conn)
facts.head()

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at
0,1,af,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734
1,2,al,Albania,28748.0,27398.0,1350.0,3029278.0,0.30,12.92,6.58,3.30,2015-11-01 13:19:54.431082,2015-11-01 13:19:54.431082
2,3,ag,Algeria,2381741.0,2381741.0,0.0,39542166.0,1.84,23.67,4.31,0.92,2015-11-01 13:19:59.961286,2015-11-01 13:19:59.961286
3,4,an,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945
4,5,ao,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46,2015-11-01 13:20:08.625072,2015-11-01 13:20:08.625072

In [13]:
facts = facts.dropna()

In [14]:
exponent = (facts['population_growth']/100)*35
facts["pop_2050"] = facts['population']**exponent

In [15]:
facts.sort_values(by='pop_2050', ascending=False)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at,pop_35,pop_2050
181,182,ug,Uganda,241038.0,197100.0,43938.0,37101745.0,3.24,43.79,10.69,0.74,2015-11-01 13:34:53.888127,2015-11-01 13:34:53.888127,3.834363e+08,3.834363e+08
105,106,mi,Malawi,118484.0,94080.0,24404.0,17964697.0,3.32,41.56,8.41,0.00,2015-11-01 13:28:50.239559,2015-11-01 13:28:50.239559,2.689279e+08,2.689279e+08
28,29,by,Burundi,27830.0,25680.0,2150.0,10742276.0,3.28,42.01,9.27,0.00,2015-11-01 13:22:08.382756,2015-11-01 13:22:08.382756,1.179502e+08,1.179502e+08
79,80,iz,Iraq,438317.0,437367.0,950.0,37056169.0,2.93,31.45,3.77,1.62,2015-11-01 13:26:41.627918,2015-11-01 13:26:41.627918,5.779183e+07,5.779183e+07
26,27,uv,Burkina Faso,274200.0,273800.0,400.0,18931686.0,3.03,42.03,11.72,0.00,2015-11-01 13:21:56.976083,2015-11-01 13:21:56.976083,5.217461e+07,5.217461e+07
108,109,ml,Mali,1240192.0,1220190.0,20002.0,16955536.0,2.98,44.99,12.89,2.26,2015-11-01 13:29:05.487047,2015-11-01 13:29:05.487047,3.468741e+07,3.468741e+07
171,172,tz,Tanzania,947300.0,885800.0,61500.0,51045882.0,2.79,36.39,8.00,0.54,2015-11-01 13:34:05.578128,2015-11-01 13:34:05.578128,3.363749e+07,3.363749e+07
193,194,za,Zambia,752618.0,743398.0,9220.0,15066266.0,2.88,42.13,12.67,0.68,2015-11-01 13:35:52.814734,2015-11-01 13:35:52.814734,1.719609e+07,1.719609e+07
4,5,ao,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46,2015-11-01 13:20:08.625072,2015-11-01 13:20:08.625072,1.247129e+07,1.247129e+07
128,129,ni,Nigeria,923768.0,910768.0,13000.0,181562056.0,2.45,37.64,12.90,0.22,2015-11-01 13:30:39.695455,2015-11-01 13:30:39.695455,1.208131e+07,1.208131e+07
18,19,bn,Benin,112622.0,110622.0,2000.0,10448647.0,2.78,36.02,8.21,0.00,2015-11-01 13:21:17.437291,2015-11-01 13:21:17.437291,6.753757e+06,6.753757e+06
140,141,qa,Qatar,11586.0,11586.0,0.0,2194817.0,3.07,9.84,1.53,22.39,2015-11-01 13:31:38.827541,2015-11-01 13:31:38.827541,6.513771e+06,6.513771e+06
39,40,cg,"Congo, Democratic Republic of the",2344858.0,2267048.0,77810.0,79375136.0,2.45,34.88,10.07,0.27,2015-11-01 13:23:09.778305,2015-11-01 13:23:09.778305,5.942640e+06,5.942640e+06
30,31,cm,Cameroon,475440.0,472710.0,2730.0,23739218.0,2.59,36.17,10.11,0.15,2015-11-01 13:22:21.712582,2015-11-01 13:22:21.712582,4.851324e+06,4.851324e+06
104,105,ma,Madagascar,587041.0,581540.0,5501.0,23812681.0,2.58,32.61,6.81,0.00,2015-11-01 13:28:45.650398,2015-11-01 13:28:45.650398,4.584140e+06,4.584140e+06
69,70,gv,Guinea,245857.0,245717.0,140.0,11780162.0,2.63,35.74,9.46,0.00,2015-11-01 13:25:47.374145,2015-11-01 13:25:47.374145,3.228455e+06,3.228455e+06
174,175,to,Togo,56785.0,54385.0,2400.0,7552318.0,2.69,34.13,7.26,0.00,2015-11-01 13:34:20.618564,2015-11-01 13:34:20.618564,2.990285e+06,2.990285e+06
192,193,ym,Yemen,527968.0,527968.0,0.0,26737317.0,2.47,29.98,6.28,1.00,2015-11-01 13:35:47.921006,2015-11-01 13:35:47.921006,2.634774e+06,2.634774e+06
143,144,rw,Rwanda,26338.0,24668.0,1670.0,12661733.0,2.56,33.75,8.96,0.85,2015-11-01 13:31:54.249930,2015-11-01 13:31:54.249930,2.311180e+06,2.311180e+06
120,121,mz,Mozambique,799380.0,786380.0,13000.0,25303113.0,2.45,38.58,12.10,1.98,2015-11-01 13:30:01.471643,2015-11-01 13:30:01.471643,2.229573e+06,2.229573e+06
250,251,gz,Gaza Strip,360.0,360.0,0.0,1869055.0,2.81,31.11,3.04,0.00,2015-11-01 13:38:48.049460,2015-11-01 13:38:48.049460,1.472788e+06,1.472788e+06
151,152,sg,Senegal,196722.0,192530.0,4192.0,13975834.0,2.45,34.52,8.46,1.59,2015-11-01 13:32:30.247996,2015-11-01 13:32:30.247996,1.340175e+06,1.340175e+06
183,184,ae,United Arab Emirates,83600.0,83600.0,0.0,5779760.0,2.58,15.43,1.97,12.36,2015-11-01 13:35:03.986760,2015-11-01 13:35:03.986760,1.276452e+06,1.276452e+06
0,1,af,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734,1.259931e+06,1.259931e+06
98,99,li,Liberia,111369.0,96320.0,15049.0,4195666.0,2.47,34.41,9.69,0.00,2015-11-01 13:28:17.286151,2015-11-01 13:28:17.286151,5.313876e+05,5.313876e+05
65,66,gh,Ghana,238533.0,227533.0,11000.0,26327649.0,2.18,31.09,7.22,2.02,2015-11-01 13:25:27.116329,2015-11-01 13:25:27.116329,4.589596e+05,4.589596e+05
154,155,sl,Sierra Leone,71740.0,71620.0,120.0,5879098.0,2.35,37.03,10.81,2.77,2015-11-01 13:32:44.288780,2015-11-01 13:32:44.288780,3.696222e+05,3.696222e+05
194,195,zi,Zimbabwe,390757.0,386847.0,3910.0,14229541.0,2.21,32.26,10.13,0.00,2015-11-01 13:35:57.711444,2015-11-01 13:35:57.711444,3.411875e+05,3.411875e+05
55,56,er,Eritrea,117600.0,101000.0,16600.0,6527689.0,2.25,30.00,7.52,0.00,2015-11-01 13:24:34.211837,2015-11-01 13:24:34.211837,2.326072e+05,2.326072e+05
99,100,ly,Libya,1759540.0,1759540.0,0.0,6411776.0,2.23,18.03,3.58,7.80,2015-11-01 13:28:22.197205,2015-11-01 13:28:22.197205,2.055165e+05,2.055165e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,48,da,Denmark,43094.0,42434.0,660.0,5581503.0,0.22,10.27,10.25,2.20,2015-11-01 13:23:53.727410,2015-11-01 13:23:53.727410,3.307500e+00,3.307500e+00
241,242,aq,American Samoa,199.0,199.0,0.0,54343.0,0.30,22.89,4.75,21.13,2015-11-01 13:38:20.926072,2015-11-01 13:38:20.926072,3.141884e+00,3.141884e+00
146,147,vc,Saint Vincent and the Grenadines,389.0,389.0,0.0,102627.0,0.28,13.57,7.18,9.17,2015-11-01 13:32:07.319951,2015-11-01 13:32:07.319951,3.098159e+00,3.098159e+00
15,16,bo,Belarus,207600.0,202900.0,4700.0,9589689.0,0.20,10.70,13.36,0.70,2015-11-01 13:21:02.382438,2015-11-01 13:21:02.382438,3.081246e+00,3.081246e+00
214,215,wf,Wallis and Futuna,142.0,142.0,0.0,15613.0,0.33,13.45,5.06,5.06,2015-11-01 13:36:58.489862,2015-11-01 13:36:58.489862,3.050336e+00,3.050336e+00
64,65,gm,Germany,357022.0,348672.0,8350.0,80854408.0,0.17,8.47,11.42,1.24,2015-11-01 13:25:21.942190,2015-11-01 13:25:21.942190,2.954666e+00,2.954666e+00
84,85,ja,Japan,377915.0,364485.0,13430.0,126919659.0,0.16,7.93,9.51,0.00,2015-11-01 13:27:08.040081,2015-11-01 13:27:08.040081,2.843136e+00,2.843136e+00
103,104,mk,Macedonia,25713.0,25433.0,280.0,2096015.0,0.20,11.55,9.08,0.48,2015-11-01 13:28:40.693382,2015-11-01 13:28:40.693382,2.770114e+00,2.770114e+00
169,170,sy,Syria,185180.0,183630.0,1550.0,17064854.0,0.16,22.17,4.00,19.79,2015-11-01 13:33:55.539951,2015-11-01 13:33:55.539951,2.540960e+00,2.540960e+00
46,47,ez,Czech Republic,78867.0,77247.0,1620.0,10644842.0,0.16,9.63,10.34,2.33,2015-11-01 13:23:48.556068,2015-11-01 13:23:48.556068,2.474684e+00,2.474684e+00
90,91,ks,"Korea, South",99720.0,96920.0,2800.0,49115196.0,0.14,8.19,6.75,0.00,2015-11-01 13:27:39.881765,2015-11-01 13:27:39.881765,2.381604e+00,2.381604e+00
232,233,gi,Gibraltar,6.0,6.0,0.0,29258.0,0.24,14.08,8.37,3.28,2015-11-01 13:37:51.980087,2015-11-01 13:37:51.980087,2.372272e+00,2.372272e+00
44,45,cu,Cuba,110860.0,109820.0,1040.0,11031433.0,0.15,9.90,7.72,3.66,2015-11-01 13:23:36.605811,2015-11-01 13:23:36.605811,2.342816e+00,2.342816e+00
49,50,do,Dominica,751.0,751.0,0.0,73607.0,0.21,15.41,7.91,5.38,2015-11-01 13:24:03.301649,2015-11-01 13:24:03.301649,2.278865e+00,2.278865e+00
7,8,am,Armenia,29743.0,28203.0,1540.0,3056382.0,0.15,13.61,9.34,5.80,2015-11-01 13:20:23.048753,2015-11-01 13:20:23.048753,2.190148e+00,2.190148e+00
238,239,sh,"Saint Helena, Ascension, and Tristan da Cunha",308.0,122.0,0.0,7795.0,0.24,9.88,7.44,0.00,2015-11-01 13:38:11.767274,2015-11-01 13:38:11.767274,2.122817e+00,2.122817e+00
43,44,hr,Croatia,56594.0,55974.0,620.0,4464844.0,0.13,9.45,12.18,1.39,2015-11-01 13:23:31.420107,2015-11-01 13:23:31.420107,2.007087e+00,2.007087e+00
21,22,bk,Bosnia and Herzegovina,51197.0,51187.0,10.0,3867055.0,0.13,8.87,9.75,0.38,2015-11-01 13:21:32.191346,2015-11-01 13:21:32.191346,1.994003e+00,1.994003e+00
176,177,td,Trinidad and Tobago,5128.0,5128.0,0.0,1222363.0,0.13,13.46,8.56,6.25,2015-11-01 13:34:29.974982,2015-11-01 13:34:29.974982,1.892202e+00,1.892202e+00
138,139,pl,Poland,312685.0,304255.0,8430.0,38562189.0,0.09,9.74,10.19,0.46,2015-11-01 13:31:29.189900,2015-11-01 13:31:29.189900,1.733661e+00,1.733661e+00
139,140,po,Portugal,92090.0,91470.0,620.0,10825309.0,0.09,9.27,11.02,2.67,2015-11-01 13:31:34.123130,2015-11-01 13:31:34.123130,1.665654e+00,1.665654e+00
3,4,an,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945,1.611238e+00,1.611238e+00
116,117,mn,Monaco,2.0,2.0,0.0,30535.0,0.12,6.65,9.24,3.83,2015-11-01 13:29:41.926640,2015-11-01 13:29:41.926640,1.542984e+00,1.542984e+00
63,64,gg,Georgia,69700.0,69700.0,0.0,4931226.0,0.08,12.74,10.82,2.70,2015-11-01 13:25:16.492238,2015-11-01 13:25:16.492238,1.539582e+00,1.539582e+00
107,108,mv,Maldives,298.0,298.0,0.0,393253.0,0.08,15.75,3.89,12.68,2015-11-01 13:29:00.393682,2015-11-01 13:29:00.393682,1.434336e+00,1.434336e+00
142,143,rs,Russia,17098242.0,16377742.0,720500.0,142423773.0,0.04,11.60,13.69,1.69,2015-11-01 13:31:49.438160,2015-11-01 13:31:49.438160,1.300619e+00,1.300619e+00
175,176,tn,Tonga,747.0,717.0,30.0,106501.0,0.03,23.00,4.85,17.84,2015-11-01 13:34:25.129188,2015-11-01 13:34:25.129188,1.129242e+00,1.129242e+00
156,157,lo,Slovakia,49035.0,48105.0,930.0,5445027.0,0.02,9.91,9.74,0.04,2015-11-01 13:32:53.821199,2015-11-01 13:32:53.821199,1.114685e+00,1.114685e+00
71,72,gy,Guyana,214969.0,196849.0,18120.0,735222.0,0.02,15.59,7.32,8.06,2015-11-01 13:25:57.634107,2015-11-01 13:25:57.634107,1.099170e+00,1.099170e+00
66,67,gr,Greece,131957.0,130647.0,1310.0,10775643.0,0.01,8.66,11.09,2.32,2015-11-01 13:25:32.471183,2015-11-01 13:25:32.471183,1.058312e+00,1.058312e+00