In [14]:
import csv
f = open('C:\\Users\\sonja tilly.ABERDEEN\\guns-data-master\\guns-data-master\\full_data.csv', 'r')
data = list(csv.reader(f))
print(data[0:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', 'BA+'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', 'Some college'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', 'BA+'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', 'BA+']]

In [15]:
headers = data[:1]
data = data[1:]
print(headers)
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', 'BA+'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', 'Some college'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', 'BA+'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', 'BA+'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', 'HS/GED']]

In [17]:
#extract years

year = []
for row in data:
    year.append(row[1])
    
year[-1]

'2014'

In [26]:
year_counts = {}

for year in year:
    if year not in year_counts:
        year_counts[year] = 0
    else:
        year_counts[year] +=1
        
year_counts

{'2012': 33562, '2013': 33635, '2014': 33598}

In [31]:
import datetime

dates = [datetime.datetime(year=int(row[1]), month=int(row[2]), day=1) for row in data]
dates[0:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [39]:
date_counts = {}
for date in dates:
    if date not in date_counts:
        date_counts[date] = 0
    else:
        date_counts[date] +=1

date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2757,
 datetime.datetime(2012, 2, 1, 0, 0): 2356,
 datetime.datetime(2012, 3, 1, 0, 0): 2742,
 datetime.datetime(2012, 4, 1, 0, 0): 2794,
 datetime.datetime(2012, 5, 1, 0, 0): 2998,
 datetime.datetime(2012, 6, 1, 0, 0): 2825,
 datetime.datetime(2012, 7, 1, 0, 0): 3025,
 datetime.datetime(2012, 8, 1, 0, 0): 2953,
 datetime.datetime(2012, 9, 1, 0, 0): 2851,
 datetime.datetime(2012, 10, 1, 0, 0): 2732,
 datetime.datetime(2012, 11, 1, 0, 0): 2728,
 datetime.datetime(2012, 12, 1, 0, 0): 2790,
 datetime.datetime(2013, 1, 1, 0, 0): 2863,
 datetime.datetime(2013, 2, 1, 0, 0): 2374,
 datetime.datetime(2013, 3, 1, 0, 0): 2861,
 datetime.datetime(2013, 4, 1, 0, 0): 2797,
 datetime.datetime(2013, 5, 1, 0, 0): 2805,
 datetime.datetime(2013, 6, 1, 0, 0): 2919,
 datetime.datetime(2013, 7, 1, 0, 0): 3078,
 datetime.datetime(2013, 8, 1, 0, 0): 2858,
 datetime.datetime(2013, 9, 1, 0, 0): 2741,
 datetime.datetime(2013, 10, 1, 0, 0): 2807,
 datetime.datetime(2013, 11, 1, 0, 0): 2757,
 datetime.datetime(2013, 12, 1, 0, 0): 2764,
 datetime.datetime(2014, 1, 1, 0, 0): 2650,
 datetime.datetime(2014, 2, 1, 0, 0): 2360,
 datetime.datetime(2014, 3, 1, 0, 0): 2683,
 datetime.datetime(2014, 4, 1, 0, 0): 2861,
 datetime.datetime(2014, 5, 1, 0, 0): 2863,
 datetime.datetime(2014, 6, 1, 0, 0): 2930,
 datetime.datetime(2014, 7, 1, 0, 0): 2883,
 datetime.datetime(2014, 8, 1, 0, 0): 2969,
 datetime.datetime(2014, 9, 1, 0, 0): 2913,
 datetime.datetime(2014, 10, 1, 0, 0): 2864,
 datetime.datetime(2014, 11, 1, 0, 0): 2755,
 datetime.datetime(2014, 12, 1, 0, 0): 2856}

In [43]:
sexes = [row[5] for row in data]

sex_counts = {}

for row in sexes:
    if row not in sex_counts:
        sex_counts[row] = 0
    else:
        sex_counts[row] += 1

sex_counts

{'F': 14448, 'M': 86348}

In [45]:
races = [row[7] for row in data]

race_counts = {}

for row in races:
    if row not in race_counts:
        race_counts[row] = 0
    else:
        race_counts[row] += 1

race_counts

{'Asian/Pacific Islander': 1325,
 'Black': 23295,
 'Hispanic': 9021,
 'Native American/Native Alaskan': 916,
 'White': 66236}

In [46]:
f = open('C:\\Users\\sonja tilly.ABERDEEN\\guns-data-master\\guns-data-master\\census.csv', 'r')
census = list(csv.reader(f))
print(census)

[['', 'Id', 'Year', 'Id.1', 'Sex', 'Id.2', 'Hispanic Origin', 'Id.3', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['0', 'cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', 'NaN', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [48]:
mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

race_per_hundredk = {}

for k,v in race_counts.items():
    if k not in race_per_hundredk:
        race_per_hundredk[k] = (v/mapping[k])*100000
        
race_per_hundredk

{'Asian/Pacific Islander': 8.36799419684339,
 'Black': 57.87486334066531,
 'Hispanic': 20.2182499682584,
 'Native American/Native Alaskan': 24.49521407373059,
 'White': 33.567986240511026}

In [56]:
intents = []
for row in data:
    intents.append(row[3])

In [57]:
races = []
for row in data:
    races.append(row[7])

In [61]:
homicide_race_counts = {}

for i, race in enumerate(races):
    if race not in homicide_race_counts:
        homicide_race_counts[race] = 0
    elif intents[i] == 'Homicide':
        homicide_race_counts[race] +=1

homicide_per_hundredk = {}

for k,v in homicide_race_counts.items():
    if k not in homicide_per_hundredk:
        homicide_per_hundredk[k] = (v/mapping[k])*100000        
        
homicide_per_hundredk

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

In [65]:
# link between month and homicide rate

months = []
for row in data:
    months.append(row[2])
    
month_counts = {}
for m in months:
    if m not in month_counts:
        month_counts[m] = 0
    else:
        month_counts[m] +=1

month_counts

{'01': 8272,
 '02': 7092,
 '03': 8288,
 '04': 8454,
 '05': 8668,
 '06': 8676,
 '07': 8988,
 '08': 8782,
 '09': 8507,
 '10': 8405,
 '11': 8242,
 '12': 8412}

In [ ]:
# explore the homicide rate by gender