In [95]:
#import libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
color = sns.color_palette()

In [96]:
#import data
xls_file = pd.ExcelFile('C:\\Users\\sonja tilly.ABERDEEN\\HYspreadsv1.xlsx')

**Prep data**

In [97]:
#parse sheet
mthly = xls_file.parse('mthly')
mthly = mthly.fillna(0.0000001)
mthly.info(1)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 246 entries, 1997-01-31 to 2017-06-30
Data columns (total 36 columns):
FDTR% Index        246 non-null float64
VIX% Index         246 non-null float64
USTW$% Index       246 non-null float64
USGG10YR% Index    246 non-null float64
USGG30YR% Index    246 non-null float64
USGG5YR% Index     246 non-null float64
USYC2Y10% Index    246 non-null float64
USYC2Y30% Index    246 non-null float64
USYC5Y10% Index    246 non-null float64
USYC2Y5Y% Index    246 non-null float64
CPI CHNG Index     246 non-null float64
CPI YOY Index      246 non-null float64
INJCJC% Index      246 non-null float64
USURTOT% Index     246 non-null float64
NFP TCH% Index     246 non-null float64
USEMNCHG% Index    246 non-null float64
IP CHNG Index      246 non-null float64
MTIBCHNG Index     246 non-null float64
MGT2TB% Index      246 non-null float64
PIDSPINX% Index    246 non-null float64
NAPMPMI% Index     246 non-null float64
OUTFGAF% Index     246 non-null float64
USGGBE10% Index    246 non-null float64
USHBMIDX% Index    246 non-null float64
CONCCONF% Index    246 non-null float64
OEUSKLAR% Index    246 non-null float64
RSTAMOM% Index     246 non-null float64
USTBTOT% Index     246 non-null float64
FDDSGDP% Index     246 non-null float64
M2% YOY Index      246 non-null float64
CLA% Comdty        246 non-null float64
CONSSENT% Index    246 non-null float64
PIDSDPS% Index     246 non-null float64
CICRTOT% Index     246 non-null float64
ARDIMOYY% Index    246 non-null float64
M1% YOY Index      246 non-null float64
dtypes: float64(36)
memory usage: 71.1 KB

In [98]:
#parse sheet
qly = xls_file.parse('qly')
qly = qly.fillna(0.0000001)
qly.head(2)

            GDPCTOT% Index  GPDITOC% Index  GPGSTOC% Index  GDP CQOQ Index
1997-01-31             3.2            -0.1             3.0             4.3
1997-03-31             4.3             8.9            -0.1             3.1

In [99]:
#parse sheet
qly2 = xls_file.parse('qly2')
qly2 = qly2.fillna(0.0000001)
qly2.head(1)

            SLDETIGT% Index  SLDETGTS% Index
1997-01-31     1.000000e-07     1.000000e-07

In [100]:
upsampled = qly.resample('D')
interpolated = upsampled.interpolate(method='linear')
interpolated.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7365 entries, 1997-01-31 to 2017-03-31
Freq: D
Data columns (total 4 columns):
GDPCTOT% Index    7365 non-null float64
GPDITOC% Index    7365 non-null float64
GPGSTOC% Index    7365 non-null float64
GDP CQOQ Index    7365 non-null float64
dtypes: float64(4)
memory usage: 287.7 KB

In [101]:
upsampled2 = qly2.resample('D')
interpolated2 = upsampled2.interpolate(method='linear')
interpolated2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7395 entries, 1997-01-31 to 2017-04-30
Freq: D
Data columns (total 2 columns):
SLDETIGT% Index    7395 non-null float64
SLDETGTS% Index    7395 non-null float64
dtypes: float64(2)
memory usage: 173.3 KB

In [102]:
#merge dataframes

merged = pd.concat([mthly, interpolated, interpolated2], axis=1)
merged.head()

,FDTR% Index,VIX% Index,USTW$% Index,USGG10YR% Index,USGG30YR% Index,USGG5YR% Index,USYC2Y10% Index,USYC2Y30% Index,USYC5Y10% Index,USYC2Y5Y% Index,...,PIDSDPS% Index,CICRTOT% Index,ARDIMOYY% Index,M1% YOY Index,GDPCTOT% Index,GPDITOC% Index,GPGSTOC% Index,GDP CQOQ Index,SLDETIGT% Index,SLDETGTS% Index
1997-01-31,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,...,1.000000e-07,1.000000e-07,1.000000e-07,-3.8,3.200000,-0.100000,3.000000,4.300000,1.000000e-07,1.000000e-07
1997-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.218644,0.052542,2.947458,4.279661,2.407804e-03,-5.778392e-03
1997-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.237288,0.205085,2.894915,4.259322,4.815507e-03,-1.155688e-02
1997-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.255932,0.357627,2.842373,4.238983,7.223211e-03,-1.733538e-02
1997-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.274576,0.510169,2.789831,4.218644,9.630914e-03,-2.311387e-02

In [103]:
df = merged.resample('M').mean()
df = df.fillna(0.0001)
df.head()

,FDTR% Index,VIX% Index,USTW$% Index,USGG10YR% Index,USGG30YR% Index,USGG5YR% Index,USYC2Y10% Index,USYC2Y30% Index,USYC5Y10% Index,USYC2Y5Y% Index,...,PIDSDPS% Index,CICRTOT% Index,ARDIMOYY% Index,M1% YOY Index,GDPCTOT% Index,GPDITOC% Index,GPGSTOC% Index,GDP CQOQ Index,SLDETIGT% Index,SLDETGTS% Index
1997-01-31,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,...,1.000000e-07,1.000000e-07,1.000000e-07,-3.8,3.200000,-0.100000,3.000000,4.300000,1.000000e-07,1.000000e-07
1997-02-28,0.000000e+00,7.725118e-02,2.875537e-02,8.852259e-03,2.057916e-03,2.207609e-02,-3.540984e-01,-4.049296e-01,-9.015873e-01,-6.666667e-02,...,1.754386e-02,-4.136546e-01,1.531532e-01,-3.5,3.470339,2.111864,2.238136,4.005085,3.491180e-02,-8.378804e-02
1997-03-31,4.545455e-02,4.697380e-02,8.466826e-03,5.084746e-02,4.129087e-02,5.405806e-02,1.011788e-01,-2.305476e-02,1.463415e-01,7.550077e-02,...,1.724138e-02,-5.182927e-01,-1.189516e-01,-4.5,4.020339,6.611864,0.688136,3.405085,1.059391e-01,-2.542536e-01
1997-04-30,0.000000e+00,-1.036889e-01,1.181038e-02,-2.753796e-02,-1.997988e-02,-2.723262e-02,-1.041215e-01,4.670330e-02,-1.373626e-02,-1.630824e-01,...,1.694915e-02,7.690373e-01,4.016064e-03,-5.4,3.874176,11.471978,0.632418,3.628022,1.793740e-01,-4.304976e-01
1997-05-31,0.000000e+00,-4.533611e-02,-1.738481e-02,-8.860189e-03,-7.384883e-03,-1.123077e-02,-2.104097e-02,5.270007e-02,-2.013201e-01,7.000000e-02,...,4.838710e-02,-1.165323e+00,8.118081e-02,-4.7,3.036264,16.532967,2.073626,4.667033,1.373543e-01,-5.712978e-01

**Create new features**

In [104]:
#calculate z scores

from scipy.stats import zscore

cols = list(df.columns)

for col in cols:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0)

In [105]:
X = df.iloc[:,43:]

In [106]:
#parse sheet
tgt = xls_file.parse('tgt')
y = np.array(tgt).ravel()

In [107]:
# For each variable in X, calculate VIF and save in dataframe

from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["vif"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif = (vif[vif.vif >= 5])
vif

          vif                features
2   64.995329  USGG10YR% Index_zscore
3   22.919569  USGG30YR% Index_zscore
4   20.194464   USGG5YR% Index_zscore
35   5.116332   GDPCTOT% Index_zscore
36   7.090701   GPDITOC% Index_zscore
38  13.057719   GDP CQOQ Index_zscore

In [108]:
#drop features with infinite or above 5 variance inflation factor

X.drop(X[['USGG10YR% Index_zscore', 'USGG30YR% Index_zscore', 'USGG5YR% Index_zscore',\
                  'USTBTOT% Index_zscore', 'GDPCTOT% Index_zscore',\
                  'GPDITOC% Index_zscore', 'GDP CQOQ Index_zscore']], axis=1, inplace=True)

In [109]:
#split dataset

X_train = X[:196]
y_train = y[:196]
X_test = X[196:]
y_test = y[196:]
X_train.head()

,VIX% Index_zscore,USTW$% Index_zscore,USYC2Y10% Index_zscore,USYC2Y30% Index_zscore,USYC5Y10% Index_zscore,USYC2Y5Y% Index_zscore,CPI CHNG Index_zscore,CPI YOY Index_zscore,INJCJC% Index_zscore,USURTOT% Index_zscore,...,M2% YOY Index_zscore,CLA% Comdty_zscore,CONSSENT% Index_zscore,PIDSDPS% Index_zscore,CICRTOT% Index_zscore,ARDIMOYY% Index_zscore,M1% YOY Index_zscore,GPGSTOC% Index_zscore,SLDETIGT% Index_zscore,SLDETGTS% Index_zscore
1997-01-31,0.107124,0.003219,-0.052653,0.073087,0.040586,-0.065209,0.092167,0.679176,0.049475,0.041673,...,-0.914313,-0.015888,0.026717,0.066438,0.097858,0.069061,-1.704268,0.687689,-0.060652,-0.039430
1997-02-28,0.517179,1.718751,-0.262262,-0.237823,-0.745801,-0.072998,0.092167,0.679176,-0.596031,-0.675573,...,-0.971734,-0.015888,0.484134,0.170580,0.051279,0.125705,-1.650658,0.394920,-0.024874,-0.102572
1997-03-31,0.356464,0.508342,0.007240,0.055385,0.168229,-0.056388,-0.256649,0.517436,0.261993,0.041670,...,-1.143999,-0.015888,0.086199,0.168785,0.039496,0.025066,-1.829359,-0.200714,0.047916,-0.231035
1997-04-30,-0.443265,0.707817,-0.114288,0.108946,0.028605,-0.084263,-0.256649,0.274826,0.664330,-0.689637,...,-1.029156,-0.015888,0.300476,0.167050,0.184454,0.070546,-1.990189,-0.222126,0.123173,-0.363852
1997-05-31,-0.133524,-1.033960,-0.065108,0.113551,-0.135011,-0.057031,-0.605464,0.032216,-0.811199,-1.480642,...,-1.029156,-0.015888,0.372554,0.353669,-0.033362,0.099086,-1.865099,0.331702,0.080111,-0.469959

In [129]:
#try Lasso regression

from sklearn import linear_model

lasso = linear_model.Lasso(alpha=0.21, fit_intercept=False, normalize=False, precompute=False,\
                           copy_X=True, max_iter=1000, tol=0.01, warm_start=False,\
                           positive=False, random_state=42, selection='cyclic')
lasso.fit(X_train, y_train)
lasso.score(X_test,y_test)

0.31839544353994964

In [135]:
#try RandomForests

from sklearn.ensemble import RandomForestRegressor

tree = RandomForestRegressor(n_estimators=30, criterion='mse',
                            max_depth=4, min_samples_split=2, 
                            min_samples_leaf=1,
                            min_weight_fraction_leaf=0.30,
                            max_features='auto',
                            max_leaf_nodes=None,
                            min_impurity_split=1e-07,
                            bootstrap=True, oob_score=False, n_jobs=-1,
                            random_state=None, verbose=0,
                            warm_start=False)
tree.fit(X_train, y_train)
tree.score(X_test, y_test)

0.3008683336969179